---
import background from "../assets/background.svg";
import { Icon } from "@astrojs/starlight/components";
---

<!-- Animate background gradient with GSAP https://gsap.com/community/forums/topic/24837-animating-gradients/ -->
<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main class="flex flex-col justify-between items-stretch">
    <section id="hero" class="h-screen p-0">
      <section class="w-screen flex flex-col justify-center items-center gap-4">
        <!-- <img
          src={angularjslogo.src}
          width="150"
          height="50"
          alt="AngularJS Logo"
        /> -->

        <h1
          class="mb-4 text-[60px] font-extrabold leading-none tracking-tight text-gray-900 md:text-6xl lg:text-6xl dark:text-white"
        >
          Modern Angular<span
            class="bg-gradient-to-tr from-amber-100 via-red-500 to-red-800 bg-clip-text text-transparent"
            >JS</span
          >
        </h1>
        <p
          class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
        >
          A modern approach to develop web apps with AngularJS using the latests
          tools and best practices.
        </p>

        <div class="flex flex-row gap-10">
          <a
            href="/introduction/overview"
            class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-600 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900"
          >
            Get Started
            <svg
              class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
          </a>

          <a
            href="https://angular.dev/"
            class="py-3 px-5 text-base font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >Go to Angular 2+</a
          >
        </div>

        <section class="alert">
          <div
            class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert"
          >
            <span class="font-medium">Atention!</span>
            AngularJS support has officially ended as of January 2022. See what ending
            support means and read the end of life announcement. Visit angular.io
            for the actively supported Angular.
          </div>
        </section>
      </section>

      <hr
        class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded-sm md:my-10 dark:bg-gray-700"
      />

      <section class="w-screen flex justify-center items-center">
        <section class="w-6xl grid grid-cols-2 grid-rows-2 gap-4 p-4">
          <article class="card border-1 border-gray-800 rounded-lg p-6">
            <div class="flex flex-row justify-start items-center gap-4 pb-2">
              <div class="border-1 border-red-800 bg-red-100 p-1 rounded-md">
                <Icon name="document" color="#fb2c36" size="1.5rem" />
              </div>
              <span class="card-title">Docs</span>
            </div>
            <div>
              <p>
                Updated documentation on how to use all features of the
                framework with modern tooling.
              </p>
            </div>
          </article>
          <article class="card border-1 border-gray-800 rounded-lg p-6">
            <div class="flex flex-row justify-start items-center gap-4 pb-2">
              <div class="border-1 border-red-800 bg-red-100 p-1 rounded-md">
                <Icon name="open-book" color="#fb2c36" size="1.5rem" />
              </div>
              <span class="card-title">Reference</span>
            </div>
            <div>
              <p>Search the API docs with ease.</p>
            </div>
          </article>
          <article class="card border-1 border-gray-800 rounded-lg p-6">
            <div class="flex flex-row justify-start items-center gap-4 pb-2">
              <div class="border-1 border-red-800 bg-red-100 p-1 rounded-md">
                <Icon name="star" color="#fb2c36" size="1.5rem" />
              </div>
              <span class="card-title">Cookbook</span>
            </div>
            <div>
              <p>
                Find recipes and instructions on how to use common libraries,
                design patterns and best practices.
              </p>
            </div>
          </article>
          <article class="card border-1 border-gray-800 rounded-lg p-6">
            <div class="flex flex-row justify-start items-center gap-4 pb-2">
              <div class="border-1 border-red-800 bg-red-100 p-1 rounded-md">
                <Icon name="rocket" color="#fb2c36" size="1.5rem" />
              </div>
              <span class="card-title">Playground</span>
            </div>
            <div>
              <p>
                Try the framework in a real environment and test your knowledge.
              </p>
            </div>
          </article>
        </section>
      </section>
    </section>

    <footer
      class="w-screen bg-gray-800 text-neutral-50 flex justify-between p-5"
    >
      <span
        >@ 2025 Modern Angular<span
          class="bg-gradient-to-tr from-amber-100 via-red-500 to-red-800 bg-clip-text text-transparent"
          >JS</span
        ></span
      >

      <a href="https://github.com/modern-angularjs/docs">
        <Icon name="github" size="1.5rem" label="Github Repo" />
      </a>
    </footer>
  </main>
</div>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    height: 100%;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }

  #links {
    display: flex;
    gap: 16px;
  }

  #links a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: #111827;
    text-decoration: none;
    transition: color 0.2s;
  }

  #links a:hover {
    color: rgb(78, 80, 86);
  }

  #links a svg {
    height: 1em;
    margin-left: 8px;
  }

  #links a.button {
    color: white;
    background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.12),
      inset 0 -2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }

  #links a.button:hover {
    color: rgb(230, 230, 230);
    box-shadow: none;
  }

  pre {
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;
    font-weight: normal;
    background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
  }

  h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
  }

  p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  code {
    display: inline-block;
    background:
      linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
      linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px 8px;
  }

  .box {
    padding: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid white;
  }

  #news {
    position: absolute;
    bottom: 16px;
    right: 16px;
    max-width: 300px;
    text-decoration: none;
    transition: background 0.2s;
    backdrop-filter: blur(50px);
  }

  #news:hover {
    background: rgba(255, 255, 255, 0.55);
  }

  @media screen and (max-height: 368px) {
    #news {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }

    #hero {
      display: block;
      padding-top: 10%;
    }

    #links {
      flex-wrap: wrap;
    }

    #links a.button {
      padding: 14px 18px;
    }

    #news {
      right: 16px;
      left: 16px;
      bottom: 2.5rem;
      max-width: 100%;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
